// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #333333;
    --ion-color-secondary: #ff9900;
    --ion-color-tertiary: #f2e8cf;
    --ion-color-accent: #663399;
    --ion-text-color-primary: #333333;
    --ion-text-color-secondary: #666666;
    --ion-background-color: #f2f2f2;
}